* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif
}

body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 583px;
    height: auto;
}

h2 {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
}

input {
    width: 342px;
    height: 74px;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.25);
    color: #FFFFFF;
    font-weight: 500;
    font-size: 40px;
}

input::placeholder {
    font-weight: 500;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.5);
}

.input-min {
    margin-right: 62px;
}

button {
    width: 342px;
    height: 72px;
    border-radius: 10px;
    background-color: rgba(174, 195, 70, 1);
    color: #FFFFFF;
    font-weight: 700;
    font-size: 36px;
    line-height: 2.5px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    box-shadow: 0px 5px 20px rgba(190, 195, 70, 1);
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.8;
}